{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if request.method == "POST" %}
<button type="button" name="button" onclick="afficherChart({{donnees}})"></button>
{%endif %}
<div class="container">
  <div class="row justify-content-md-center text-center">
    <div id="insertionFichier">
      <h1>Collaviz</h1>
      <h3>Déposez le fichier à étudier : </h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="fichier">
        <button type="submit">Déposer</button>
      </form>
      <div id="cont"></div>
    </div>
  </div>
  <div id="previsualisation">
    {% if request.method == "POST" %}
    <select class="browser-default custom-select" id="selectFile" onchange="afficherTableau()">
      <option selected disabled value=""></option>
      {% for o in file %}
      <option value="{{o}}">{{o}}</option>
      {% endfor %}
    </select>
    {%endif %}
    <div id="csv-display"> </div>
  </div>
  <div id="mapping" class="row">
    <div id="user" class="col-sm">
      <h4>Utilisateur : </h4>
      {% if request.method == "POST" %}
      <select class="browser-default custom-select" id="mappingUser" onchange="getColonnes('mappingUser')">
        <option selected disabled value=""></option>
        {% for o in file %}
        <option value="{{o}}">{{o}}</option>
        {% endfor %}
      </select>
      {%endif %}
      <select id="mappingUserCol" class="browser-default custom-select"> </select>
    </div>
    <div id="date" class="col-sm">
      <h4>Date : </h4>
      {% if request.method == "POST" %}
      <select class="browser-default custom-select" id="mappingDate" onchange="getColonnes('mappingDate')">
        <option selected disabled value=""></option>
        {% for o in file %}
        <option value="{{o}}">{{o}}</option>
        {% endfor %}
      </select>
      {%endif %}
      <select id="mappingDateCol" class="browser-default custom-select"> </select>
    </div>
    <div id="heure" class="col-sm">
      <h4>Heure : </h4>
      {% if request.method == "POST" %}
      <select class="browser-default custom-select" id="mappingHeure" onchange="getColonnes('mappingHeure')">
        <option selected disabled value=""></option>
        {% for o in file %}
        <option value="{{o}}">{{o}}</option>
        {% endfor %}
      </select>
      {%endif %}
      <select id="mappingHeureCol" class="browser-default custom-select"> </select>
    </div>
    <div id="titre" class="col-sm">
      <h4>Titre : </h4>
      {% if request.method == "POST" %}
      <select class="browser-default custom-select" id="mappingTitre" onchange="getColonnes('mappingTitre')">
        <option selected disabled value=""></option>
        {% for o in file %}
        <option value="{{o}}">{{o}}</option>
        {% endfor %}
      </select>
      {%endif %}
      <select id="mappingTitreCol" class="browser-default custom-select"> </select>
    </div>
    <div id="attribut" class="col-sm">
      <h4>Attribut : </h4>
      {% if request.method == "POST" %}
      <select class="browser-default custom-select" id="mappingAttribut" onchange="getColonnes('mappingAttribut')">
        <option selected disabled value=""></option>
        {% for o in file %}
        <option value="{{o}}">{{o}}</option>
        {% endfor %}
      </select>
      {%endif %}
      <select id="mappingAttributCol" class="browser-default custom-select"> </select>
    </div>
  </div>
</div>


<script type="text/javascript">
  function afficherChart(donnees) {
    var chart = Highcharts.chart('cont', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Nombre de connexions de chaque utilisateur'
      },
      xAxis: {
        type: 'category',
        labels: {
          rotation: -45,
          style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
          }
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Nombre de connexions'
        }
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: 'Nombre de connexions: <b>{point.y:.1f}</b>'
      },
      series: [{
        name: 'Connexions',
        data: donnees,
        dataLabels: {
          enabled: true,
          rotation: -90,
          color: '#FFFFFF',
          align: 'right',
          y: 10,
          style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
          }
        }
      }]
    });


    $("#cont").draggable();
    $("#cont").resizable();
    $("#cont").resize(function() {
      chart.reflow()
    });
  }


  function afficherTableau() {
    $.ajax({

      url: "../media/tmp/" + $("#selectFile").val(),
      dataType: "text",
      success: function(data) {
        data = $.csv.toArrays(data);
        generateHtmlTable(data);
      }

    });

  }

  function getColonnes(select) {
    //utilisateur, date, heure, titre, attribut
    $.ajax({

      url: "../media/tmp/" + $("#" + select).val(),
      dataType: "text",
      success: function(data) {
        var titre = data.trim().split('\n')[0].split(',');
        $('#'+select+'Col').html("");
        for (var i = 0; i < titre.length; i++) {
          $('#'+select+'Col').append($('<option>', {
            value: i,
            text: titre[i]
          }));
        }

      }


    });

  }

  function generateHtmlTable(data) {

    var html = '<table id="table" class="table table-condensed table-hover table-striped">';

    if (typeof(data[0]) === 'undefined') {
      return null;
    } else {
      $.each(data, function(index, row) {
        //bind header
        if (index == 0) {
          html += '<thead>';
          html += '<tr>';
          $.each(row, function(index, colData) {
            html += '<th>';
            html += colData;
            html += '</th>';
          });
          html += '</tr>';
          html += '</thead>';
          html += '<tbody>';
        } else {
          html += '<tr>';
          $.each(row, function(index, colData) {
            html += '<td>';
            html += colData;
            html += '</td>';
          });
          html += '</tr>';
        }
      });
      html += '</tbody>';
      html += '</table>';
      $('#csv-display').html(html);
    }
    $('#table').DataTable();

  }
</script>


{% endblock %}
