

{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{test}}</h2>
<div id="container"></div>
<button type="button" name="button" onclick="afficherChart({{test}})"></button>
<div class="container">
  <div class="row justify-content-md-center text-center">
    <div>
      <h1>Collaviz</h1>
		  <h3>Déposez le fichier à étudier : </h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input  type="file" name="fichier">
        <button type="submit">Déposer</button>
      </form>
	  </div>
	</div>
  <div id="cont"></div>

</div>

<script type="text/javascript">

function afficherChart(data){
  alert(data)
var chart = Highcharts.chart('cont', {
      title: {
          text: 'Solar Employment Growth by Sector, 2010-2016'
      },

      subtitle: {
          text: 'Source: thesolarfoundation.com'
      },

      yAxis: {
          title: {
              text: 'Number of Employees'
          }
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle'
      },

      plotOptions: {
          series: {
              label: {
                  connectorAllowed: false
              },
              pointStart: 2010
          }
      },

      series: [{
          name: 'donnée',
          data: data
      }],

      responsive: {
          rules: [{
              condition: {
                  maxWidth: 500
              },
              chartOptions: {
                  legend: {
                      layout: 'horizontal',
                      align: 'center',
                      verticalAlign: 'bottom'
                  }
              }
          }]
      }

  });




  $("#cont").draggable();
  $("#cont").resizable();
  $("#cont").resize(function() {
  chart.reflow()
});


}

</script>


{% endblock %}
