<!doctype html>
{% load staticfiles %}
<html>
<head>  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Collaviz</title>
  <link rel="stylesheet" type="text/css" href="{% static 'siteCollaviz/style.css' %}">
  <img id="fond" src="{% static 'siteCollaviz/fond.jpg' %}" alt="fond" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <script src="{% static 'siteCollaviz/jquery.gridly.js' %}" type="text/javascript"></script>
  <link href="{% static 'siteCollaviz/jquery.gridly.css' %}" rel="stylesheet" type="text/css" />
  <!--Cette ligne met tout en tout petit------------>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <title>Collaviz</title>
</head>
<body id="body">
  <nav class="navbar navbar-fixed-top navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">Collaviz</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="accueilNav">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="visuNav">Visualisation des données</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="separateurNav">Séparateur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mappingNav">Mapping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="simpleNav">Indicateurs simples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="complexeNav">indicateurs complexes</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="" class="nav-link" onclick="logout()">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="" class="nav-link" data-toggle="modal" data-target="#modalLoginForm">Login</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" data-toggle="modal" data-target="#modalRegisterForm">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</div>
</div>
</body>
</html>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form method='POST'>
      {% csrf_token %}
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="dorangeForm-name" class="form-control validate" name = "username">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Your username</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate" name = "password">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default"  onclick="signIn()">Login</button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form method='POST'>
      {% csrf_token %}
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate" name = "username">
          <label data-error="wrong" data-success="right" for="orangeForm-name" >Your name</label>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="orangeForm-email" class="form-control validate" name = "email">
          <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass1" class="form-control validate" name = "password1">
          <label data-error="wrong" data-success="right" for="orangeForm-pass1">Your password</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass2" class="form-control validate" name = "password2">
          <label data-error="wrong" data-success="right" for="orangeForm-pass2">Your password 2</label>
          </div

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange" type="submit">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
function logout(){
  $.ajax({
    type: "POST",
    url: "/logout_user",
    error: function (request, status, error) {
      alert(request.responseText);
    }
  });
}

function signIn(){
  $.ajax({
    type: "POST",
    url: "/collaviz",
    error: function (request, status, error) {
      alert(request.responseText);
    }
  });
}
$("#accueilNav").click(function() {
  goTo($("#modalRegisterForm"));
});
$("#visuNav").click(function() {
  goTo($("#titreVisu"));
});
$("#separateurNav").click(function() {
  goTo($("#titreSeparateur"));
});
$("#mappingNav").click(function() {
  goTo($("#titreMapping"));
});
$("#simpleNav").click(function() {
  goTo($("#titreSimples"));
});
$("#complexeNav").click(function() {
  goTo($("#titreComplexes"));
});



function goTo(div){
  $([document.documentElement, document.body]).animate({
    scrollTop: div.offset().top - 73
  }, 2000);
}
</script>
